main { 
    width: $main_width;
    background-color: rgb(220,220,220);

    header { 
        width: 90%;
        height: 50px;
        margin: 0px auto;
        @include flex(row, space-between, center);
        
        p { 
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 2px;
        }

        .icone { 
            cursor: pointer;
        }
    }

    // this class impact to WhatShowYou Component
    .shape { 
        width: 90%;
        // full height mines Header's Height 
        height: calc( 100% - 50px ); 
        overflow: auto;
        margin: 0px auto;

        &::-webkit-scrollbar {
            width: 0;  
            background: transparent;  // make scrollbar invisible 
        }
    }
}

@media (max-width: 830px) {
    main { 
        width: 100%;
    } 
}
