main { 
    width: $main_width;
    background-color: rgb(220,220,220);

    header { 
        width: 90%;
        height: 50px;
        margin: 0px auto;
        @include flex(row, space-between, center);
        
        p { 
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 2px;
        }

        .icone { 
            cursor: pointer;
        }
    }

    .shape { 
        width: 90%;
        height: 90%;
        overflow: auto;
        transition: all 1s;
        margin: 0px auto;
        
        &::-webkit-scrollbar {
            width: 0;  
            background: transparent;  // make scrollbar invisible 
        }

    }


}




