@mixin flex( $direction, $justify , $align ) { 
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
};

$main_width: 80%;
$icons_width_height: 25px;

* { 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face { 
    font-family: HelveticaNeueCyr;
    src: url("./HelveticaNeueCyr/HelveticaNeueCyr.ttf")
}

.App { 
    width: 100%;
    height: 100vh;
    @include flex(row, center, none);
    background-color: rgb(119,136,153, 0.2);
    overflow: hidden;
}

@import "./Components/Exhibit/_Exhibit.scss";
@import "./Components/EndGame/_EndGame.scss";
@import "./Components/Menu/_Menu.scss";
@import "./Components/Settings/_Settings.scss";
@import "./Components/Games/_Games.scss";
@import "./Components/Games/ColorChange/_ColorChange.scss";

.icone { 
    width: $icons_width_height;
    height: $icons_width_height;
}

.number { 
  @include flex( column , center,  center);

  p { 
    font-family: HelveticaNeueCyr;
    font-size: 200px;
  }

  small { 
    font-family: HelveticaNeueCyr;
    color: grey;
    font-size: 20px;
  }
}

// when user change Theme 
.BlackBackgroundColor { 
   background-color: black; 
}

.blackThemeBorder { 
    border: 3px solid white;

    &:hover { 
        border: 1px solid white; 
        /*background-color: rgb(255,255,255, 0.5);*/
    }
}

.BlackThemeText { 
    color: #FBFAF5;    
}

